/* body er jnno font link  */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap'); 
/* shape er miami font er link  */
@import url('https://fonts.cdnfonts.com/css/miama');
body{
    font-family: "Inter", sans-serif;
    background-color: #111111;
    ;
    color: white;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*navbar start*/

.nav-main{
max-width: 1000px;
padding: 25px 0px;
margin: 0 auto;
    
margin: auto;
display: flex;
margin-top: 20px;
background-image: linear-gradient(180deg, #111111 0%, rgba(119, 119, 119, 0) 100%);

color: white;
}
.nav-left{
width: 50%;
color: #E6533C;
font-size: 24px;
font-style: italic;
}
.nav-right{
width: 50%;
display: flex;
text-decoration: none;
}
.nav-btn-1{
    text-decoration: none;
    border-radius: 25px;
    padding: 8px 25px 8px 20px;
    background-color: #E6533C;
    color: #FFFFFF;


}
.nav-btn-2{
    text-decoration: none;
    border-radius: 25px;
    padding: 8px 25px 8px 20px;
    margin-left: 25px;
    background-color: #222222;



}
.nav-btn-3{
    text-decoration: none;
    border-radius: 25px;
    padding: 8px 25px 8px 20px;
    margin-left: 25px;
    background-color: #222222;
}
.nav-btn-4{
    text-decoration: none;
    border-radius: 25px;
    padding: 8px 25px 8px 20px;
    margin-left: 25px;
    background-color: #222222;
}
.href-1{
    text-decoration: none;
    color: #FFFFFF;
}
.href-2{
    text-decoration: none;
       color: #FFFFFF;
}
.href-3{
    text-decoration: none;
    color: #FFFFFF;
}
.href-4{
    text-decoration: none;
    color: #FFFFFF;
}
/*navbar end*/
/*header part start*/

.header-main{
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image:linear-gradient(180deg, #111111 0%, rgba(119, 119, 119, 0) 100%);
    ;
}
.header-left{
    width: 50%;

}
.header-left h1{
   font-size: 70px;
}
.shape{
    font-family: 'Miama', sans-serif;                                            
    font-style: italic;
}
.header-left p{
    font-size: 20px;
    margin-top: 20px;
}
.btns{
    margin-top: 20px;
}
.btn-5{
    
    padding:20px 40px;
    gap: 10px;
    border-radius: 42px;
    font-size: 20px;
    background-color: #E6533C;
    color: #FFFFFF;
}
.btn-6{
    padding:20px 40px;
    gap: 10px;
    border-radius: 42px;
    font-size: 20px;
    
}
.header-right{
    width: 50%;

}
.header-right img{
    width: 100%;
    margin-left: 30px;
}
/*badge start*/
#badge{
    position: absolute;
    width: 206px;
    height: 95px;
    margin-left: 400px;
    top: 400px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(22px);
    background: rgba(255, 255, 255, 0.1);
    color: white;
}
#badge-500{
    font-weight: 900;
    font-size: 35px;
    padding-right: 40px;
}
#badge-workout{
    font-size: 15x;
    color: rgba(255, 255, 255, 0.65);
}

#circle{
    background: rgb(230, 83, 60);
    border-radius:40px;
    width: 40px;
    height: 40px;
}
#badge-350{
    display: flex;
    position: absolute;
    width: 206px;
    height: 96px;
    margin-right: 50px;
    top: 800px;
    bottom: 65px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(22px);
    background: rgba(255, 255, 255, 0.1);
    color: white;
    align-items: center;
    padding: 23px;
    gap: 15px;
}
#badge-video{
    font-size: 24px;
    font-weight: 900;
    padding-right: 15px;
}
/*badge end*/
/*header part end*/
/*main part start*/
.main-section-1{
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    margin-left: 250px;
    margin-top: 20px;

}
.main-left-1 h1{
        color: rgb(255, 255, 255);
        font-size: 48px;
        font-weight: bold;}

        .main-image-1{
            display: flex;
            max-width: 1000px;
            margin-left: 20px;
            margin-top: 30px;
        }

.main-right-1 .img-1{
    border-radius: 100px;
    margin-left: 240px;
    margin-top: 20px;
    height: 150px;

}
.main-right-1 h1{
    margin-left: 260px;
    font-size: 20px;
    margin-top: 10px;
}
.main-right-1 p{
    margin-left:240px;
    font-size: 10px;
    margin-top: 10px;
    font-weight: bold;
}
.main-right-2 .img-2{
    border-radius: 100px;
    margin-left: 100px;
    margin-top: 20px;
    height: 150px;

}
.main-right-2 h1{
    margin-left: 150px;
    font-size: 20px;
    margin-top: 10px;
}
.main-right-2 p{
    margin-left:120px;
    font-size: 10px;
    margin-top: 10px;
    font-weight: bold;
}

.main-right-3 .img-3{
    border-radius: 100px;
    margin-left: 100px;
    margin-top: 20px;
    height: 150px;

}
.main-right-3 h1{
    margin-left: 140px;
    font-size: 20px;
    margin-top: 10px;
}
.main-right-3 p{
    margin-left:100px;
    font-size: 10px;
    margin-top: 10px;
    font-weight: bold;
}
.main-right-4 h1{
    margin-left: 120px;
    font-size: 20px;
    margin-top: 10px;
}
.main-right-4 p{
    margin-left:100px;
    font-size: 10px;
    margin-top: 10px;
    font-weight: bold;
}

.main-right-4 .img-4{
    border-radius: 100px;
    margin-left: 100px;
    margin-top: 20px;
    height: 150px;

}
/*RUN SECTION START*/
 .run-main{
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
    background-color: #222222;
    ;
 }
 .run-left{
    width: 50%;
    margin-left: 20px;
 }
 .run-left h1{
    font-size: 50px;
 }
 .run-left p{
    margin-top: 10px;
 }
 .href-12{
    padding:10px 25px;
    border-radius: 10px;
    font-size: 25px;
    background-color: #E6533C;
    margin-top: 10px;
 }
 .href-13{
    color: #FFFFFF;
    text-decoration: none;
 }

 .run-right{
    width: 50%;
 }
 .run-right img{
    width: 80%;
    margin-left: 100px;

 }         
/*RUN SECTION END*/
/*BMI section start*/

.BMI-main{
    margin-top: 100px;
    margin-left: 400px;
}
.BMI-main p{
    margin-top: 15px;
}
.BMI-main h1{
    font-size: 38px;
}
/*BMI section end*/
/*calculaate section start*/
.calculate-main{
    max-width: 1500px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
    background-color: #222222;
    
    

}
.calculate-left {
    width: 50%;


}
.calculate-left h1{
    margin-left: 300px;
    font-size: 30px;
    
}
table {
    border-collapse: collapse;
    margin-left: 300px;
    
 }
 td{
    border: 4px solid  rgba(255, 255, 255, 0.275);
    padding: 10px 15px;
    background-color: #222222;
    color: #FFFFFF;
}

.calculate-right{
width: 50%;
margin-left: 150px;
margin-top: 50px;

}
.calculate-right h1{
    margin-left: 60px;
}
.calculate-right p{
    margin-left: 60px;
    margin-top: 20px;
}

.Calculate{
    display: flex;
    margin-top: 20px;
}
.Calculate-1{
    margin-left: 60px;

}
.Height{
    margin-top: 40px;
    margin-left: 30px;
    border-radius: 40px;
    padding: 20px 40px;
    background-color: #222222;
    color: #FFFFFF;
    font-size: 20px;
}
.age{
    margin-top: 10px;
    margin-left: 40px;
    background-color: #222222;
    padding:20px 40px;
    gap: 10px;
    border-radius: 42px;
    color: #FFFFFF;
    font-size: 20px;

}

.Calculate-2{
    margin-top: 20px;
}
.KG{
    margin-top: 20px;
    margin-left: 30px;
    border-radius: 40px;
    padding: 20px 40px;
    background-color: #222222;
    color: #FFFFFF;
    font-size: 20px;
}
.SEX{
    margin-top: 10px;
    margin-left: 40px;
    border-radius: 100px;
    padding: 20px 40px;
    background-color: #222222;
    color: #FFFFFF;
    font-size: 20px;
    
}

.factor-1{
    margin-top: 10px;

    
}
.factor{
    margin-left: 110px;
   padding: 30px 50px;
    border-radius: 42px;
    background-color: #222222;
    color: #FFFFFF;
    font-size: 20px;
}
.button-main-100{
    padding:20px 40px;
    gap: 10px;
    border-radius: 42px;
    font-size: 20px;
    background-color: #E6533C;
    color: #FFFFFF;
    margin-left: 120px;
    margin-top: 10px;
}
 /*calculaate section end*/

 /*TEAM SECTION START*/

.team-main{
    max-width: 1000px;
    margin: 0 auto;
    align-items: center;
    margin-top: 100px;
}
.team-main h1{
    margin-left: 400px;
}

.team-main .gym-1{
    margin-left: 110px;
    font-size: 20px;
    margin-top: 15px;
}
.gym{
    margin-left: 430px;
    font-size: 20px;
}
/*team images start*/

.image-main{
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 200px;
    background-color: #222222;
    display: flex;

}
.images-1{
    margin-top: 20px;
    display: flex;
}
.images-2{
    margin-top: 20px;
    display: flex;
}




.image-1{
    border-radius: 80px;
    height: 300px;
    width: 300px;
    margin-top: 20px;
    margin-left: 30px;

}

.image-2{
    border-radius: 80px;
    height: 300px;
    width: 300px;
    margin-top: 20px;
    margin-left: 30px;

}

.image-3{
    border-radius: 80px;
    height: 300px;
    width: 300px;
    margin-top: 20px;
    margin-left: 30px;

}
.image-4{
    border-radius: 80px;
    height: 300px;
    width: 300px;
    margin-top: 10px;
    margin-left: 30px;

}
.image-5{
    border-radius: 80px;
    height: 300px;
    width: 300px;
    margin-top: 10px;
    margin-left: 30px;

}
.image-6{
    border-radius: 80px;
    height: 300px;
    width: 300px;
    margin-top: 10px;
    margin-left: 30px;

}
/*team images end*/
/*main part end*/

/*footer part start*/
.footer{
    margin-top: 100px;
}
.footer-main{
    max-width: 1600px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    background-color: #222222;
}
.footer-content{
    display: flex;
}
.footer-left{
    width: 50%;
    margin-left: 40px;
    
}
.footer-left h1{
    margin-top: 40px;
    margin-left: 250px;
    color: #E6533C;
    font-weight: bold;
    font-style: italic;
    font-size: 50px;
}
.footer-left p{
    margin-top: 20px;
    margin-left: 250px;
    font-size: 15px;
    color:  #FFFFFF80;

}
.footer-right{
    width: 50%;
    display: flex;
    margin-top: 60px;
    margin-left: 80px;
}
.foot-1 ul{
    margin-left: 30px;
    font-size: 15px;
    margin-top: 20px;
    color: #FFFFFF80;
}
.foot-1 h1{
    font-weight: bold;
}
.foot-2 h1{
    margin-left: 150px;
    font-weight: bold;
}
.foot-2 ul{
    margin-left: 150px;
    font-size:15px;
    margin-top: 20px;
    color: #FFFFFF80;
    
}
.last{
    margin-left: 650px;
    margin-top: 100px;
    font-size: 20px;
    color: #FFFFFF80;
    

}
/*footer part start*/

